@import "tailwindcss";
@tailwind utilities;

@font-face {
  font-family: 'Quicksand';
  src: url('/Quicksand.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spline Sans';
  src: url('/SplineSans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-sapphire: #0056B3;
  --color-azure: #007BFF;
  --color-jet: #333333;
  --color-accent-gray: #B3B3B3;
  --font-Quicksand: 'Quicksand', sans-serif;
  --font-Spline: 'Spline Sans', sans-serif;
}

body {
  background: #ffffff;
  font-family: 'Quicksand', 'Spline Sans', Helvetica, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* For horizontal scrolling container */
.overflow-x-auto {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}